* {
    font-family: 'Cormorant';
    font-size: 120px;
    color: white;
    padding: 0;
    margin: 0;
}

body {

}

main {

}

.fullHeight {
    height: 100vh;
}

.maxHeightForty {
    max-height: 40vh;
}

.flexDaddy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grayBackground {
    background-color: #464646;
}

.lightGrayBackground {
    background-color: #8b8888;
}

.buttonRules {
    border: none;
    background: none;
}