* {
    font-family: 'Cormorant';
    font-size: 100px;
    color: white;
    padding: 0;
    margin: 0;
}

body {

}

main {

}

.fullHeight {
    height: 100vh;
}

.maxHeightFifty {
    max-height: 50vh;
}

.flexDaddy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grayBackground {
    background-color: #464646;
}

.lightGrayBackground {
    background-color: #8b8888;
}

.darkBlueBackground {
    background-color: rgb(5, 5, 41);
}

.buttonRules {
    border: none;
    background: none;
}

.paddingFifteen {
    padding: 12px;
}

.subScript {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    max-width: 20%;
}

.fullPage {
    width: 100vw;
    height: 100vh;
}