* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-size: 16px;
    font-family: Aldrich;
    background-image: url(images/roomImage1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
    background-color: rgb(255, 255, 255);
    color: white;

}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 15vh;
}

/* .scrolllock {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100vw;
} */

header > nav {
    display: flex;
    background-color: #0c0c4a;
    justify-content: center;
}

header > nav > a {
    color: white;
    text-decoration: none;
    width: 25vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutlink,
.experiencelink,
.amenitieslink,
.visitlink {
    border: solid 1.5px gold;
}

.currentpage {
    color: gold;
}

.hero {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .logo {
    background-color: rgba(255,255,255,1);
} */

.logo:hover {
    background-color: rgb(224, 241, 255);
    transition: all 200ms ease;
}

header > nav > a:hover {
    background-color: #28aae0;
    color: gold;
    transition: all 200ms ease;
}

.allContent {
    margin: 0 5vw;
}

h2 {
    font-size: 40px;
    width: 100%;
    background-color: #0c0c4a;
    color: white;
    padding: 15px 0;
    border: solid 2px gold;
    text-align: center;
    justify-content: center;
}

.contentBox {
    display: flex;
    justify-content: space-between;
}

.contentSection {
    width: 48%;
    background-color: #0c0c4a;
    border: solid 2px gold;
    color: white;
    padding: 10px;
}

.contentSection > a {
    border: solid 2px gold;
}